.ft{
    color: #161750;
    text-align: center;
    margin-top: 35px;
    font-weight: 800;
}

.heady{
    text-align: center;
    margin: 35px 0px;
}

.text{
    margin: 30px 0px;
    font-size: 20px;
}

.conty{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 30px;
    padding: 10px
}

.card {
    border-radius: 10px;
    padding: 10px;
    margin: 30px 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card > .heady{
    margin-top: 10px;
}

.card > .line{
    margin-top: 10px;
    /* margin-bottom: 10px;; */
}

.card > button{
    margin:40px 0px;
    padding: 8px;
    background-color: #161750;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer
}
