.exp{
    /* width: 100px; */
    /* color: #161750; */
    padding: 30px;
}

/* .mainy{} */
.eplore{
    color: #161750;
    width: 15em;
    margin-left: 60px;
}

.eplore > h1{
    /* margin: 0px 0px 0px 10px; */
    margin-bottom: 10px;
}

.eplore > hr{
    margin: 15px 0;
    border: solid 2px #161750;
} 

.expcont{
    width: 90%;
    margin: 10px auto;
}
.menus{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* margin: 10px auto; */
    margin: 40px 0px;
    width: 100%
}

.event, .live {
    color: #161750;
    background-color: #E0E0E0;
    /* padding: 40px; */
    width: 33.4%;
    text-align: center;
    padding: 10px 0px;
}
.library{
    color: white;
    background-color: #161750;
    width: 33.2%;
    text-align: center;
    padding: 10px 0px;
    /* padding: 40px; */
}

.mainy > h5{
    color: #161750;
    margin-top: 30px;
}

.lower{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
}

.btn1-link{
    text-decoration: none;
   
    /* padding: 8px 15px; */
    
}

.b{
    width: 60%;
}

.btn1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161750;
    color: white;
    gap: 4px;
    padding: 8px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.cardil{
    display: flex;
    justify-content: center;
    align-items: stretch; /* Align items to have the same height */
    gap: 30px; /* Increased gap for better spacing */
    margin: 30px 0px;
    flex-wrap: wrap; /* Allow cards to wrap to the next line */
}

.cardo{
    display: flex;
    gap: 10px;
    /* flex-direction: column;np Stack card content vertically */
    flex: 1 1 45%; /* Grow, shrink, and set a basis of ~45% for a 2-column layout */
    max-width: 625px; /* Optional: prevent cards from becoming too wide */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    padding: 10px;
    /* align-items: center; */
    justify-content: center;
}

.a{
    width: 35%;
}

.share-btn{
    background-color: white;
    color: #161750;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px
}

.headya{
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
}


.b > p{
    /* margin-top: 30px; */
    font-size: 14px;
}

.pack{
    margin-top: 4px;
}

.contia{
    margin: 30px auto;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.contia > .a{
    color: #161750;
    font-weight: 800;
}

.contia > .b{
    color: #00913D;
    text-align: end;
    font-weight: 800;
}