.txtybtn > button { 
    padding: 8px 15px; 
    outline: none; 
    border: none; 
    cursor: pointer; 
    border-radius: 5px; 
    transition: background-color 0.3s ease-in-out; 
    font-size: 10px; 
    background-color: #E46B0A; 
    color: white; 
} 

.txtybtn:hover { 
    background-color: white; 
    color: #E46B0A; 
    border: 1px solid #E46B0A
}